Sender=youremailaddress@gmail.com
To=targetemail@address.com
Subject=email subject
ResponseSubject=response subject
TempFolder=/Temp/CrackedHashes
TempFile=/Temp/HashSubmission.pgp
ConsolidatedFile=/Temp/HashesToDeDupe.txt
FileToUpload=/Temp/HashesToSubmit.txt
SignerPhraseFile=/Temp/SingerPassPhrase.cred
SignFingerprint=GPG Key fingerprint
GNUPGHome=/home/username/.gnupg
APIToken=/Temp/GMail.API.token.json
APICred=/Temp/GMail.API.credentials.json
Scopes=https://www.googleapis.com/auth/gmail.modify
GDriveSource=CrackedHashes
GDriveTarget=UploadedHashes
