Sender=your_email_address@gmail.com
To=submission_email_address@some.com
Subject=email_subject
ResponseSubject=response_email_subject
TempFolder=/Temp/CrackedHashes
TempFile=/Temp/HashSubmission.pgp
ConsolidatedFile=/Temp/HashesToDeDupe.txt
FileToUpload=/Temp/HashesToSubmit.txt
SignerPhraseFile=/Temp/SingerPassPhrase.cred
SignFingerprint=Private_Key_FingerPrint
GNUPGHome=/home/username/.gnupg
APIToken=/Temp/GMail.API.token.json
APICred=/Temp/GMail.API.credentials.json
MailScopes=https://www.googleapis.com/auth/gmail.modify
DriveAPPName=Application Name
DriveScopes=https://www.googleapis.com/auth/driv
DriveAPIToken=/Temp/GDrive.API.token.json
DriveAPICred=/Temp/GDrive.API.cred.json
GDriveSource=CrackedHashes
GDriveTarget=UploadedHashes
